Ensure configured scope value conforms to RFC 6750

This was originally raised in [#8 (comment)](https://github.com/jzheaux/spring-security-oauth2-resource-server/pull/8#discussion_r177485152).

[Section 3.1 of RFC 6750](https://tools.ietf.org/html/rfc6750#section-3) defines valid values for scope attribute of `WWW-Authenticate` header that we need to conform to.

`BearerTokenAuthenticationEntryPoint` isn't the right place to implement such validation, since at that point there's not much we can do (other than placing an invalid value in scope attribute of `WWW-Authenticate` header, breaking the spec, or throwing an error). The validation should occur at place where the scope value _enters the system_. Presumably, this would be where the scope value is defined/configured.